@import url('https://fonts.googleapis.com/css?family=Inter:ital,wght@0,300..800;1,300..800&display=swap');
@import '../../variables.module';

.articleList {
    font-family: "Inter", sans-serif;
    background-color: $back-color;
    
    &__pagination {
        justify-content: center;
    }

    &__loader {
        position: absolute;
        left: 50%;
        top: 100px;
        z-index: 999999;
    }

    &__error {
        width: 400px;
        margin: 20px auto 0;
    }
}


