@import '../../variables.module';

.sign {
    background-color: white;
    width: 384px;
    height: 100%;
    border-radius: 6px;
    box-shadow: 0 22px 106px #BABABA;
    margin: 59px auto 0;
    padding: 42px 32px; 
    

    &__title {
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 25px;
    }


    &__error {
        margin: 0 auto 0;
        color: $error;
    }
    
    &__form {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__chekbox-text{
        font-size: 14px;
        line-height: 22px;
    }
  
    &__label-chek-wrap {
        display: flex;
        color: $bl75;
    }

    &__label-chek {
        width: 380px;
        margin-top: 11px;
        padding-top: 8px;
        border-top: 1px solid rgb(232, 232, 232);
        display: flex;
        font-size: 14px;
        line-height: 22px;
        text-align: left;
        flex-direction: column;
    }

    &__chekbox-box {
        margin-right: 8px;
    }

    &__btn {
        border: none;
        background-color: $title;
        color: white;
        border-radius: 4px;
        width: 380px;
        height: 40px;
        margin-top: 11px;
        font-size: 16px;
        line-height: 24px;
    }

    &__question {
        color: #595959;
        font-size: 12px;
        line-height: 20px;
        margin-left: 96px;
    }

    &__question-link {
        margin-left: 4px;
    }

}

 